@import url("https://fonts.googleapis.com/css?family=Potta+One:regular");
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	background: radial-gradient(ellipse at center, rgba(197, 222, 234, 1) 0%, rgba(6, 109, 171, 1) 78%);
}
p {
	font-family: Pacifico;
}
li {
	font-family: Lobster;
}

.header {
	max-width: 900px;
	margin: 15px auto;
}
.header-left ul li {
	display: inline;
}
.header-left {
	display: inline-block;
}
.header-right ul li {
	display: inline;
	margin: 0px 0px 0px 20px;
}
.header-right {
	display: inline-block;
	float: right;
	text-align: right;
}
.main {
	max-width: 900px;
	margin: 15px auto;
}
.main-block {
	margin: 0px 0px 30px 0px;
}
.main-block h1 {
	font-weight: 700;
	font-size: 35px;
	margin: 0px 0px 20px 0px;
}
.main-block h2 {
	font-weight: 700;
	font-size: 25px;
	margin: 0px 0px 20px 0px;
}
.main-block p {
	font-size: 18px;
}
.main-block2,
.main-block3,
.main-block4,
.main-block5,
.main-block6,
.main-block7,
.main-block8 {
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 17px -15px 17px -8px rgba(196, 14, 196, 1);
	margin: 0px 0px 20px 0px;
}
.main-block2 h2,
.main-block3 h2,
.main-block4 h2,
.main-block5 h2,
.main-block6 h2,
.main-block7 h2,
.main-block8 h2 {
	font-size: 20px;
	font-weight: 700;
}
.main-block2-primer,
.main-block3-primer,
.main-block4-primer,
.main-block5-primer,
.main-block6-primer,
.main-block7-primer,
.main-block8-primer {
	margin: 5px 0px 0px 10px;
}
.main-block2-primer2,
.main-block3-primer3,
.main-block4-primer4,
.main-block5-primer5,
.main-block6-primer6,
.main-block7-primer7,
.main-block8-primer8 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-block2-primer p,
.main-block3-primer p,
.main-block4-primer p,
.main-block5-primer p,
.main-block6-primer p,
.main-block7-primer p,
.main-block8-primer p {
	margin: 0px 0px 10px 0px;
}
.main-block2-primer-image,
.main-block2-primer-image2,
.main-block2-primer-image3,
.main-block2-primer-image4 {
	min-width: 180px;
	height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
}
.main-block2-primer-image2 {
	background: blue;
}
.main-block2-primer-image3 {
	background: rgb(205, 92, 92);
}
.main-block2-primer-image4 {
	background: rgb(205, 92, 92, 0.5);
}
.main-block2-primer-image p,
.main-block2-primer-image2 p,
.main-block2-primer-image3 p,
.main-block2-primer-image4 p {
	color: #00ff00;
	text-align: center;
	font-size: 20px;
}
.main-block3-primer-image,
.main-block3-primer-image2,
.main-block3-primer-image3 {
	min-width: 250px;
	min-height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
}
.main-block3-primer-image {
	background: url(../img/freelanser.jpg);
}
.main-block3-primer-image p,
.main-block3-primer-image2 p,
.main-block3-primer-image3 p {
	color: #4e17e6;
	text-align: center;
	font-size: 20px;
}
.main-block3-primer-image2 {
	background: linear-gradient(to bottom, #ffb76b 26%, #ff7c00 64%, #ff7f04 81%);
}
.main-block3-primer-image3 {
	background: radial-gradient(
		ellipse at center,
		rgba(30, 87, 153, 1) 0%,
		rgba(232, 109, 44, 1) 36%,
		rgba(32, 124, 202, 1) 65%,
		rgba(125, 185, 232, 1) 100%
	);
}
.main-block4-primer-image,
.main-block4-primer-image2,
.main-block4-primer-image3,
.main-block4-primer-image4,
.main-block4-primer-image5,
.main-block4-primer-image6 {
	min-width: 250px;
	min-height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
	color: #a85507;
	text-align: center;
	font-size: 20px;
}
.main-block4-primer-image {
	background: url(../img/freelanser.jpg) repeat;
}
.main-block4-primer-image2 {
	background: url(../img/freelanser.jpg) no-repeat;
}
.main-block4-primer-image3 {
	background: url(../img/freelanser.jpg) repeat-x;
}
.main-block4-primer-image4 {
	background: url(../img/freelanser.jpg) repeat-y;
}
.main-block4-primer-image5 {
	background: url(../img/freelanser.jpg) space;
}
.main-block4-primer-image6 {
	background: url(../img/freelanser.jpg) round;
}
.main-block5-primer-image,
.main-block5-primer-image2,
.main-block5-primer-image3,
.main-block5-primer-image4,
.main-block5-primer-image5 {
	min-width: 250px;
	min-height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
	color: #a85507;
	text-align: center;
	font-size: 20px;
}
.main-block5-primer-image {
	background: url(../img/freelanser.jpg) 0 0 no-repeat;
}
.main-block5-primer-image2 {
	background: url(../img/freelanser.jpg) 50% no-repeat;
}
.main-block5-primer-image3 {
	background: url(../img/freelanser.jpg) left no-repeat;
}
.main-block5-primer-image4 {
	background: url(../img/freelanser.jpg) bottom right no-repeat;
}
.main-block5-primer-image5 {
	background: url(../img/freelanser.jpg) 30px 50px no-repeat;
}
.main-block6-primer-image,
.main-block6-primer-image2,
.main-block6-primer-image3 {
	width: 250px;
	height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
	color: #a85507;
	text-align: center;
	font-size: 20px;
}
.main-block6-primer-image {
	background: url(../img/img.jpeg) 0 0 no-repeat scroll;
}
.main-block6-primer-image2 {
	background: url(../img/img.jpeg) 0 0 no-repeat fixed;
}
.main-block6-primer-image3 {
	background: url(../img/img.jpeg) 0 0 no-repeat local;
	overflow: scroll;
}
.main-block7-primer-image,
.main-block7-primer-image2,
.main-block7-primer-image3,
.main-block7-primer-image4,
.main-block7-primer-image5,
.main-block7-primer-image6,
.main-block7-primer-image7 {
	width: 250px;
	height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
	color: #a85507;
	text-align: center;
	font-size: 20px;
}
.main-block7-primer-image {
	background: url(../img/img.jpeg) 0 0 / auto auto no-repeat;
}
.main-block7-primer-image2 {
	background: url(../img/img.jpeg) 0 0 / 100% auto no-repeat;
}
.main-block7-primer-image3 {
	background: url(../img/img.jpeg) 0 0 / auto 100% no-repeat;
}
.main-block7-primer-image4 {
	background: url(../img/img.jpeg) 0 0 / 100% 100% no-repeat;
}
.main-block7-primer-image5 {
	background: url(../img/img.jpeg) 0 0 / contain no-repeat;
}
.main-block7-primer-image6 {
	background: url(../img/img.jpeg) 0 0 / cover no-repeat;
}
.main-block7-primer-image7 {
	background: url(../img/img.jpeg) 0 0 / 150px no-repeat;
}
.main-block8-primer-image,
.main-block8-primer-image2,
.main-block8-primer-image3,
.main-block8-primer-image4 {
	min-width: 250px;
	min-height: 200px;
	margin: 0px 15px 10px 0px;
	border: 1px solid black;
	color: #a85507;
	text-align: center;
	font-size: 20px;
}
.main-block8-primer-image {
	background: #4e17e6 url(../img/freelanser.jpg) no-repeat;
}
.main-block8-primer-image2 {
	background: url(../img/freelanser.jpg) left no-repeat, url(../img/img.jpeg) 0 0 / cover no-repeat;
}
.main-block8-primer-image3 {
	background: url(../img/freelanser.jpg) right no-repeat, url(../img/freelanser.jpg) left no-repeat,
		url(../img/img.jpeg) 0 0 / contain no-repeat;
}
.main-block8-primer-image4 {
	background: url(../img/freelanser.jpg) 0 0 / 30px no-repeat, url(../img/freelanser.jpg) 50% 0 / 40px no-repeat,
		url(../img/freelanser.jpg) 50% 50% / 25px no-repeat, url(../img/img.jpeg) 0 0 / 100% 100% no-repeat;
}
